In [166]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [38]:
project_dir = r"G:\My Drive\Personal Projects\1. Flight prediction system"
data_dir = r"G:\My Drive\Personal Projects\1. Flight prediction system\data"

In [43]:
def read_data(name):
    file_name= f"{name}.csv"
    file_path = os.path.join(project_dir, data_dir, file_name)
    return pd.read_csv(file_path)

In [52]:
flight = read_data("flight_price")

In [40]:
# flight_data = pd.read_csv(r"G:\\My Drive\Personal Projects\\1. Flight prediction system\data\\flight_price.csv")

In [49]:
flight_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [50]:
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

-- `Total_stop` and `Route` has missing values

In [ ]:
def clean_data(df):
    return(
        df
        .drop345 
    
    )

# Some Preliminary Analysis

In [58]:
# check dtype
flight.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

-- `Date_of_journey`, `Dep_Time` and `Arrival_Time` should be in date_time format

-- `Duration` and `Total_stops` should be numeric

In [55]:
# check for duplicates

flight.duplicated().sum()

220

In [56]:
(
    flight
    .loc[flight.duplicated(keep = False)]
    .sort_values(['Airline', 'Date_of_Journey', 'Source', 'Destination'])
    
)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6321,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
9848,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
572,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
8168,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
1495,Air India,1/04/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,01:20 02 Apr,15h 20m,2 stops,No info,10408
...,...,...,...,...,...,...,...,...,...,...,...
2692,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
2870,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
3711,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,20:30,23:20,2h 50m,non-stop,No check-in baggage included,3873
2634,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403
5470,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403

# Handle each columns one-by-one

## 1. Airline

In [59]:
flight.Airline

0             IndiGo
1          Air India
2        Jet Airways
3             IndiGo
4             IndiGo
            ...
10678       Air Asia
10679      Air India
10680    Jet Airways
10681        Vistara
10682      Air India
Name: Airline, Length: 10683, dtype: object

In [62]:
flight.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

- Premium economy and Business belongs to one airline only

In [68]:
## So, we replace premium economy and business 

(
    flight.Airline
    .str.replace("Business", "")
    .str.replace("Premium economy", "")
    .unique()

)

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia', 'Vistara ',
       'Jet Airways ', 'Multiple carriers ', 'Trujet'], dtype=object)

In [66]:
flight.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

## Date_of_journey

In [80]:
flight.Date_of_Journey

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [81]:
pd.to_datetime(flight.Date_of_Journey, dayfirst = True)

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10683, dtype: datetime64[ns]

## Source and Destination columns

In [88]:
flight.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [90]:
flight.Destination.unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

## Dep_time

In [92]:
flight.Dep_Time

0        22:20
1        05:50
2        09:25
3        18:05
4        16:50
         ...
10678    19:55
10679    20:45
10680    08:20
10681    11:30
10682    10:55
Name: Dep_Time, Length: 10683, dtype: object

In [94]:
(
    flight
    .Dep_Time
    .loc[lambda ser: ser.str.contains("[^0-9:]")]
)

Series([], Name: Dep_Time, dtype: object)

In [96]:
pd.to_datetime(flight.Dep_Time).dt.time

<ipython-input-96-6748c9b87dda>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(flight.Dep_Time).dt.time

0        22:20:00
1        05:50:00
2        09:25:00
3        18:05:00
4        16:50:00
           ...
10678    19:55:00
10679    20:45:00
10680    08:20:00
10681    11:30:00
10682    10:55:00
Name: Dep_Time, Length: 10683, dtype: object

In [99]:
flight.Arrival_Time

0        01:10 22 Mar
1               13:15
2        04:25 10 Jun
3               23:30
4               21:35
             ...
10678           22:25
10679           23:20
10680           11:20
10681           14:10
10682           19:15
Name: Arrival_Time, Length: 10683, dtype: object

In [103]:
(
    flight
    .Arrival_Time
    .loc[lambda ser: ser.str.contains("[^0-9:]")]
    .str.split(" ", n=1)
    .str.get(1)
    .unique()
)

array(['22 Mar', '10 Jun', '13 Mar', '02 Mar', '10 May', '04 Mar',
       '13 Jun', '28 May', '19 Mar', '07 May', '02 Jun', '16 Jun',
       '19 May', '16 May', '28 Jun', '02 May', '28 Mar', '19 Jun',
       '04 Apr', '25 Mar', '07 Mar', '25 Jun', '07 Jun', '25 May',
       '13 May', '16 Mar', '22 May', '10 Apr', '04 Jun', '20 May',
       '28 Apr', '25 Apr', '10 Mar', '19 Apr', '13 Apr', '02 Apr',
       '23 Mar', '22 Apr', '11 May', '07 Apr', '03 May', '08 Mar',
       '03 Mar', '05 Mar', '22 Jun', '04 May', '26 May', '16 Apr',
       '26 Jun', '29 May', '29 Jun', '29 Mar', '23 May', '17 Jun'],
      dtype=object)

## Duration

In [112]:
flight.Duration

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object

In [114]:
(
    flight
    .Duration
    .loc[lambda ser: -ser.str.contains("m")]
)

2        19h
18       23h
33       22h
44       12h
53        3h
        ...
10591    23h
10638    14h
10639    38h
10673    15h
10680     3h
Name: Duration, Length: 1031, dtype: object

In [115]:
(
    flight
    .Duration
    .loc[lambda ser: -ser.str.contains("h")]
)

6474    5m
Name: Duration, dtype: object

-- Its a discrepancy, flight duartion is only 5 min not possible

In [117]:
flight.iloc[[6474]]

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6474,Air India,6/03/2019,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,16:50,16:55,5m,2 stops,No info,17327

In [173]:
## Handle the duration colums

(
    flight
    .Duration
    .drop(index = 6474)
    .str.split(" ", expand = True)
    .set_axis(["hour", "minute"], axis = 1)
    .assign(
    hour = lambda df_:(
            df_
            .hour
            .str.replace("h","")
            .astype(int)
            .mul(60)
        ),
    minute = lambda df_:(
        df_
        .minute
        .str.replace("m", "")
        .fillna('0')
        .astype(int)
    )
    )
    .sum(axis = 1)
    .rename("duration_minutes")
    .to_frame()
    .join(flight.Duration.drop(index = 6474))

    
)

       duration_minutes Duration
0                   170   2h 50m
1                   445   7h 25m
2                  1140      19h
3                   325   5h 25m
4                   285   4h 45m
...                 ...      ...
10678               150   2h 30m
10679               155   2h 35m
10680               180       3h
10681               160   2h 40m
10682               500   8h 20m

[10682 rows x 2 columns]

## Total Stops

In [174]:
flight.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [175]:
(
    flight
    .Total_Stops
    .replace("non-stop", "0")
    .replace(" stops?", "", regex = True)
    .pipe(lambda ser: pd.to_numeric(ser))
)

0        0.0
1        2.0
2        2.0
3        1.0
4        1.0
        ...
10678    0.0
10679    0.0
10680    0.0
10681    0.0
10682    2.0
Name: Total_Stops, Length: 10683, dtype: float64

In [176]:
def convert_to_minute(ser):
    return(
        ser
#         .drop(index = 6474)
        .str.split(" ", expand = True)
        .set_axis(["hour", "minute"], axis = 1)
        .assign(
            hour = lambda df_ :(
                df_
                .hour
                .str.replace("h", "")
                .astype(int)
                .mul(60)
            ),
            minute = lambda df_:(
                df_
                .minute
                .str.replace("m", "")
                .fillna("0")
                .astype(int)
            )
        )
        .sum(axis = 1)
    )

In [178]:
# convert_to_minute(flight['Duration'])

In [179]:
def clean_data(df):
    return(
        df
        .drop(index= 6474)
        .drop_duplicates()
        .assign(**{
            col: df[col].str.strip()
            for col in df.select_dtypes(include = 'O').columns
        })
        .rename(columns = str.lower)
        .assign(
            airline = lambda df_:(
                df_
                .airline
                .str.replace(" Premium economy", "")
                .str.replace(" Business", "")
            ),
            date_of_journey = lambda df_: pd.to_datetime(df_.date_of_journey, dayfirst = True),
            dep_time = lambda df_: pd.to_datetime(df_.dep_time).dt.time,
            arrival_time = lambda df_: pd.to_datetime(df_.arrival_time).dt.time,
            duration = lambda df_: df_.duration.pipe(convert_to_minute),
            total_stops = lambda df_:(
                df_
                .total_stops
                .replace("non-stop", "0")
                .str.replace(" stops?", "", regex = True)
                .pipe(lambda ser: pd.to_numeric(ser))
            ),
            additional_info = lambda df_: df_.additional_info.replace("No info", "No Info")
            
            
        ).drop(columns  = "route")
        
    )

In [180]:
cleaned_data = clean_data(flight)

<ipython-input-179-a1c5545c17ab>:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dep_time = lambda df_: pd.to_datetime(df_.dep_time).dt.time,
<ipython-input-179-a1c5545c17ab>:20: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  arrival_time = lambda df_: pd.to_datetime(df_.arrival_time).dt.time,

In [181]:

cleaned_data.head()

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,IndiGo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0.0,No Info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2.0,No Info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2.0,No Info,13882
3,IndiGo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1.0,No Info,6218
4,IndiGo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1.0,No Info,13302

In [182]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10462 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          10462 non-null  object
 1   date_of_journey  10462 non-null  datetime64[ns]
 2   source           10462 non-null  object
 3   destination      10462 non-null  object
 4   dep_time         10462 non-null  object
 5   arrival_time     10462 non-null  object
 6   duration         10462 non-null  int64
 7   total_stops      10461 non-null  float64
 8   additional_info  10462 non-null  object
 9   price            10462 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 899.1+ KB

In [183]:
## Split the data
final_flights = cleaned_data.sample(1000)


x= final_flights.drop(columns = 'price')
y = final_flights.price.copy()

In [167]:
x_, x_test, y_, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [168]:
x_train, x_val, y_train, y_val = train_test_split(x_, y_, test_size = 0.2, random_state = 42)

## Export the subsets

In [169]:
def export_data(x, y, name):
    file_name = f"{name}.csv"
    file_path = os.path.join(project_dir, data_dir, file_name)
    
    x.join(y).to_csv(file_path, index = False)
    return pd.read_csv(file_path).head()

In [170]:
export_data(x_train, y_train, "train")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Vistara,2019-04-21,Banglore,Delhi,11:30:00,14:20:00,170,0.0,No Info,5403
1,GoAir,2019-04-01,Kolkata,Banglore,16:40:00,00:15:00,455,1.0,No Info,5171
2,IndiGo,2019-04-15,Kolkata,Banglore,15:30:00,18:05:00,155,0.0,No Info,4174
3,Jet Airways,2019-03-27,Delhi,Cochin,19:10:00,19:45:00,1475,2.0,In-flight meal not included,8834
4,Air India,2019-03-03,Banglore,New Delhi,06:10:00,08:55:00,165,0.0,No Info,7591

In [171]:
export_data(x_val, y_val, "val")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Air India,2019-06-06,Kolkata,Banglore,09:25:00,01:20:00,955,2.0,No Info,11458
1,Jet Airways,2019-06-21,Banglore,Delhi,19:50:00,22:50:00,180,0.0,No Info,8541
2,IndiGo,2019-05-06,Mumbai,Hyderabad,02:35:00,04:05:00,90,0.0,No Info,3342
3,IndiGo,2019-05-09,Delhi,Cochin,16:10:00,22:30:00,380,1.0,No Info,6704
4,IndiGo,2019-05-06,Kolkata,Banglore,14:25:00,16:55:00,150,0.0,No Info,5224

In [172]:
export_data(x_test, y_test, "test")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Air India,2019-06-06,Kolkata,Banglore,20:45:00,23:20:00,155,0.0,No Info,4145
1,Air India,2019-05-21,Delhi,Cochin,05:00:00,07:40:00,1600,2.0,No Info,11806
2,SpiceJet,2019-04-24,Kolkata,Banglore,06:55:00,09:30:00,155,0.0,No Info,3873
3,Vistara,2019-06-24,Banglore,Delhi,07:00:00,09:40:00,160,0.0,No Info,4668
4,Vistara,2019-05-06,Kolkata,Banglore,07:10:00,22:40:00,930,1.0,No Info,8452